/* ==========================================================================
    FONTS
========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:700,400&subset=latin,cyrillic-ext);

/* ==========================================================================
    LESS
========================================================================== */

@white: #fff;
@black: #000;
@text: #464b54;
@mandy: #E65372;
@java: #1BBDC8;
@turquoise: #33D1C1;

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;
    -webkit-border-top-left-radius:     @topleft;

    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;
    -moz-border-radius-topleft:         @topleft;

    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
    border-top-left-radius:             @topleft;

    -moz-background-clip:    padding; 
    -webkit-background-clip: padding-box; 
    background-clip:         padding-box; 
}

.gradient (@startColor, @endColor) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    box-sizing:         @type;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity:    @opacity;
    -moz-opacity:       @opacity;
    opacity:        @opacity;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition:    @transition;
    -ms-transition:     @transition;
    -o-transition:      @transition;
    transition:         @transition;
}

.transform(@string){
    -webkit-transform: @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
       transform:        @string;
}

.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
       transform-origin:      @x @y;
}

.inline-block {
    display: inline-block;
    *display: block;
    zoom: 1; /* IE < 8 */
}

/* ==========================================================================
    GENERAL STYLES
========================================================================== */

html,
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    height: 100%;
    color: @text;
    background-color: @white;
    font-size: 14px;
}

ul,
p {
    margin: 0;
    padding: 0;
}

* {
    .box-sizing;
}

input,
textarea,
input:active,
textarea:active,
:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    zoom: 1; /* IE < 8 */
}

.clearfix:after {
    clear: both;
}

.list-inline {
    li {
        .inline-block;
    }
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -70px;
}

.page-wrapper:after {
    content: "";
    display: block;
    height: 70px;
}

.container {
    width: 1400px;
    margin: 0 260px;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.no-mg {
    margin: 0 !important;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.block-white {
    background-color: @white;
}

.block-shadowed {
    .box-shadow(0 1px 1px rgba(0, 1, 1, .15));
}

/* ==========================================================================
    Text and titles
========================================================================== */

.text-white {
   color: @white;
}

.text-shadowed {
    text-shadow: 0 1px 2px rgba(9, 29, 31, .26);
}

.title {
    font-family: 'Noto Sans', 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

.title-giant {
    font-size: 40px;
    font-weight: bold;
}

.title-bg {
    .inline-block;
    padding: 6px 12px;
    background: @black;
    background: rgba(0, 0, 0, .65);
}

/* ==========================================================================
    Buttons
========================================================================== */

.btn {
    .inline-block;
    .title;
    .border-radius(3px);
    padding: 12px 24px;
    color: @white;
    font-size: 14px;
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
}

.btn-pink {
    background-color: darken(@mandy, 5%);
    border-color: #a9354a;
}

.btn-wide {
    padding: 12px 28px;
}

/* ==========================================================================
   Icons
========================================================================== */

.icon {
    .inline-block;
    background: url(../img/icons-sprite.png);
}

.icon-fb,
.icon-tw,
.icon-insta {
    width: 26px;
    height: 26px;
    .transition(all ease .1s);
}

.icon-fb {
    background-position: 0 0;
}

.icon-fb:hover {
    background-position: -26px 0;
}

.icon-tw {
    background-position: 0 -27px;
}

.icon-tw:hover {
    background-position: -26px -27px;
}

.icon-insta {
    background-position: 0 -56px;
}

.icon-insta:hover {
    background-position: -27px -56px;
}


/* ==========================================================================
    SOCIALS-FIXED
========================================================================== */

.socials-fixed {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -75px;
    padding: 15px 13px;
    background-color: @white;
    .border-radiuses(3px, 3px, 0, 0);
    .block-shadowed;

    ul {        
        li {
            margin-top: 20px;
        }

        li:first-child {
            margin-top: 0;
        }
    }
}

/* ==========================================================================
    NAVIGATION
========================================================================== */

.nav {
    
    li {
        padding: 0 25px;
        a {
            line-height: 70px;
            color: #73767b;
            font-size: 12px;
            .title;
            .transition(all .3s);

            img {
                vertical-align: sub;
                margin-left: 10px;
            }
        }
    }

    li.is-active {
        background-color: @mandy;
        a, a:hover {
            color: @white;
        }
    }
}

.nav-left {
    ul, li {
        float: left;
    }

    a:hover {
        color: @java;
    }
}

.nav-right {
    ul, li {
        float: right;
    }

    li:first-child {
        padding-right: 0;
    }

    li a {
        color: @white;
    }

    a:hover {
        color: @turquoise;
    }
}

/* ==========================================================================
    HEADER
========================================================================== */

.header {
    height: 70px;
    background-color: #1a1c20;

    .logo-main {
        display: block;
        width: 260px;
        height: 70px;
        padding-top: 14px;
        background-color: @white;
        margin-left: -260px;
        text-align: center;

    }
}

/* ==========================================================================
    MAIN
========================================================================== */

.slider {
    height: 487px;
    background: url(../img/slider.jpg) no-repeat;
}

.slider-info {
    width: 666px;
    padding-top: 90px;
    .text-white;

    h1, h3, p {
        margin-bottom: 20px;
    }

    p {
        line-height: 26px;
        letter-spacing: 1px;
    }
}

.bg-reticulum {
    background: url(../img/bg-reticulum.jpg);
}

.push-up {
    margin-top: -70px;
}

.col-1 {
    float: left;
    width: 446px;
    margin-left: 30px;
    font-size: 13px;
}

.title-col {
    padding: 0 15px;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Noto Sans', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #292c34;
    border-bottom: 3px solid @turquoise;
}

.col-content {
    padding: 10px 15px 25px;
}

/* Main for no authorized user
========================================================================== */


/* ==========================================================================
    FOOTER
========================================================================== */

.footer {
    height: 70px;
    background-color: #1a1c20;    
}